body {
    background-color: rgb(255,99,71);
    color: #222222;
    font-family: Arial, Helvetica, sans-serif;
  }
  a {
    color: #dadcde;
    text-decoration: none;
  }
  .navigatie {
    color: #231F20;
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 20px;
  }
  h1, h2{
    text-transform: uppercase;
    font-weight: bold;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-weight: normal;
  }
  a:hover{
    color: white;
    background-color: black;
    text-decoration: underline;
  }
  .eerste-link{
    background-color: rgba(0,0,0,0.4);
    color: #dadcde;
  }
  blockquote{
    background-color: white;
    color: rgb(255,99,71);
    text-align: center;
    font-family: Georgia;
  }
  .speciaal{
    color: yellow;
    background-color: black;
  }
  p {
    line-height: 200%;
  }
  li{
    line-height: 150%;
  }